<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Placa Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PLACA</th>
      <td mat-cell *matCellDef="let row">{{row.placa}}</td>
    </ng-container>

    <!-- Ubication Column -->
    <ng-container matColumnDef="ubication">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UBICACIÓN</th>
      <td mat-cell *matCellDef="let row">{{row.ubication}}</td>
    </ng-container>

    <!-- Detenido Column -->
    <ng-container matColumnDef="detenido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DETENIDO</th>
      <td mat-cell *matCellDef="let row">{{row.detenido}}</td>
    </ng-container>

    <!-- RutaPendiente Column -->
    <ng-container matColumnDef="rutapendiente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RUTA PENDIENTE</th>
      <td mat-cell *matCellDef="let row">{{row.rutapendiente}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
