body {
  background-color: #ffffff;
  margin: 1em;
  font-size: 20px;

}

.input-divs-top {
  padding: 0.5rem;
  display: flex;
}

.input-placa {
  margin: 0.3rem;
  text-align: center;
  margin: 0 auto;
  p{
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
    // padding: 0;
  }
  input {
    text-align: center;
    margin: 0;
    // margin-left: 5rem;
  }
}

.input-descripcion {
  margin: 0.3rem;
  text-align: center;
  margin: 0 auto;
  p{
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
    // padding: 0;
  }
  input {
    text-align: center;

    // margin-left: 5rem;
  }
}

.input-evento {
  margin: 0.3rem;
  text-align: center;
  margin: 0 auto;
  p{
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
    // padding: 0;
  }
  input {
    text-align: center;
    // margin-left: 5rem;
  }
}

.input-divs-bottom {
  padding: 0.8rem;
  display: flex;
}
.input-estado {
  margin: 0.3rem;
  text-align: center;
  margin: 0 auto;
  p{
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
    // padding: 0;
  }
  input {
    text-align: center;
    margin:0;
    // margin-left: 2rem;
  }
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}
