<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
  <!--begin::Header-->
  <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <!--begin::Container-->
    <div class="container-xxl d-flex align-items-center justify-content-between" id="kt_header_container">
      <!--begin::Page title-->
      <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-2 pb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <!--begin::Heading-->
        <h1 class="text-dark fw-bolder my-0 fs-2">Crear Alerta</h1>
        <!--end::Heading-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb fw-bold fs-base my-1">
          <li class="breadcrumb-item text-muted">
            <a href="../../demo7/dist/index.html" class="text-muted">Home</a>
          </li>
          <li class="breadcrumb-item text-muted">Notificaciones</li>
          <li class="breadcrumb-item text-dark">Crear Alerta</li>
        </ul>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page title=-->
      <!--begin::Wrapper-->
      <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
        <!--begin::Aside mobile toggle-->
        <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
          <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
          <span class="svg-icon svg-icon-2x">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
              <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Aside mobile toggle-->
        <!--begin::Logo-->
        <a href="../../demo7/dist/index.html" class="d-flex align-items-center">
          <img alt="Logo" src="assets/media/logos/logo-demo7.svg" class="h-30px" />
        </a>
        <!--end::Logo-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Toolbar wrapper-->
      <div class="d-flex flex-shrink-0">
        <!--begin::Invite user-->
        <div class="d-flex ms-3">
          <a href="#" class="btn btn-flex flex-center bg-body btn-color-gray-700 btn-active-color-primary w-40px w-md-auto h-40px px-0 px-md-6" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
            <span class="svg-icon svg-icon-2 svg-icon-primary me-0 me-md-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
              </svg>
            </span>
            <!--end::Svg Icon-->
            <span class="d-none d-md-inline">New Member</span>
          </a>
        </div>
        <!--end::Invite user-->
        <!--begin::Create app-->
        <div class="d-flex ms-3">
          <a href="#" class="btn btn-flex flex-center bg-body btn-color-gray-700 btn-active-color-primary w-40px w-md-auto h-40px px-0 px-md-6" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">
            <!--begin::Svg Icon | path: icons/duotune/general/gen005.svg-->
            <span class="svg-icon svg-icon-2 svg-icon-primary me-0 me-md-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="black" />
                <rect x="7" y="17" width="6" height="2" rx="1" fill="black" />
                <rect x="7" y="12" width="10" height="2" rx="1" fill="black" />
                <rect x="7" y="7" width="6" height="2" rx="1" fill="black" />
                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
              </svg>
            </span>
            <!--end::Svg Icon-->
            <span class="d-none d-md-inline">New App</span>
          </a>
        </div>
        <!--end::Create app-->
        <!--begin::Chat-->
        <div class="d-flex align-items-center ms-3">
          <!--begin::Menu wrapper-->
          <div class="btn btn-icon btn-primary w-40px h-40px pulse pulse-white" id="kt_drawer_chat_toggle">
            <!--begin::Svg Icon | path: icons/duotune/communication/com012.svg-->
            <span class="svg-icon svg-icon-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3" d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z" fill="black" />
                <rect x="6" y="12" width="7" height="2" rx="1" fill="black" />
                <rect x="6" y="7" width="12" height="2" rx="1" fill="black" />
              </svg>
            </span>
            <!--end::Svg Icon-->
            <span class="pulse-ring"></span>
          </div>
          <!--end::Menu wrapper-->
        </div>
        <!--end::Chat-->
      </div>
      <!--end::Toolbar wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Header-->
  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
      <!--begin::Form-->
      <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row gap-7 gap-lg-10" data-kt-redirect="../../demo7/dist/apps/ecommerce/catalog/products.html">
        <!--begin::Aside column-->
        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px">

          <!--begin::Status-->
          <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
              <!--begin::Card title-->
              <div class="card-title">
                <h2>Estado</h2>
              </div>
              <!--end::Card title-->
              <!--begin::Card toolbar-->
              <div class="card-toolbar">
                <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
              </div>
              <!--begin::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
              <!--begin::Select2-->
              <select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" id="kt_ecommerce_add_product_status_select">
                <option></option>
                <option value="published" selected="selected">1</option>
                <option value="draft">2</option>
                <option value="scheduled">3</option>
                <option value="inactive">4</option>
              </select>
              <!--end::Select2-->
              <!--begin::Description-->
              <div class="text-muted fs-7">Establecer el estado del Evento</div>
              <!--end::Description-->
              <!--begin::Datepicker-->
              <div class="d-none mt-10">
                <label for="kt_ecommerce_add_product_status_datepicker" class="form-label">Select publishing date and time</label>
                <input class="form-control" id="kt_ecommerce_add_product_status_datepicker" placeholder="Pick date &amp; time" />
              </div>
              <!--end::Datepicker-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Status-->

        </div>
        <!--end::Aside column-->
        <!--begin::Main column-->
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
          <!--begin:::Tabs-->
          <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
            <!--begin:::Tab item-->
            <li class="nav-item">
              <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general">General</a>
            </li>
            <!--end:::Tab item-->
            <!--begin:::Tab item-->
            <li class="nav-item">
              <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_add_product_advanced">Avanzado</a>
            </li>
            <!--end:::Tab item-->
          </ul>
          <!--end:::Tabs-->
          <!--begin::Tab content-->
          <div class="tab-content">
            <!--begin::Tab pane-->
            <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
              <div class="d-flex flex-column gap-7 gap-lg-10">
                <!--begin::General options-->
                <div class="card card-flush py-4">
                  <!--begin::Card header-->
                  <div class="card-header">
                    <div class="card-title">
                      <h2>General</h2>
                    </div>
                  </div>
                  <!--end::Card header-->
                  <!--begin::Card body-->
                  <div class="card-body pt-0">
                    <div class="mb-4 fv-row">

                      <!--begin::Input-->
                      <div class="d-flex gap-10">
                        <input type="text" name="shelf" class="form-control mb-2" placeholder="Descripción" value="" />
                        <input type="text" name="warehouse" class="form-control mb-2" placeholder="Evento" />
                      </div>
                      <!--end::Input-->
                      <!--begin::Description-->
                      <!-- <div class="text-muted fs-7">Enter the product quantity.</div> -->
                      <!--end::Description-->
                    </div>
                    <div class="mb-4 fv-row">
                      <!--begin::Input-->
                      <div class="d-flex gap-10">
                        <input type="text" name="shelf" class="form-control mb-2" placeholder="Placa" value="" />
                        <!-- <input type="text" name="warehouse" class="form-control mb-2" placeholder="In warehouse" /> -->
                      </div>
                      <!--end::Input-->
                      <!--begin::Description-->
                      <!-- <div class="text-muted fs-7">Enter the product quantity.</div> -->
                      <!--end::Description-->
                    </div>
                  </div>
                  <!--end::Card header-->
                </div>
                <!--end::General options-->

              </div>
            </div>
            <!--end::Tab pane-->
            <!--begin::Tab pane-->
            <div class="tab-pane fade" id="kt_ecommerce_add_product_advanced" role="tab-panel">
              <div class="d-flex flex-column gap-7 gap-lg-10">

                <!--begin::Variations-->
                <div class="card card-flush py-4">
                  <!--begin::Card header-->
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Variaciones</h2>
                    </div>
                  </div>
                  <!--end::Card header-->
                  <!--begin::Card body-->
                  <div class="card-body pt-0">
                    <!--begin::Input group-->
                    <div class="" data-kt-ecommerce-catalog-add-product="auto-options">
                      <!--begin::Label-->
                      <label class="form-label">Agregar alertas</label>
                      <!--end::Label-->
                      <!--begin::Repeater-->
                      <div id="kt_ecommerce_add_product_options">
                        <!--begin::Form group-->
                        <div class="form-group">
                          <div data-repeater-list="kt_ecommerce_add_product_options" class="d-flex flex-column gap-3">
                            <div data-repeater-item="" class="form-group d-flex flex-wrap gap-5">
                              <!--begin::Select2-->
                              <div class="w-100 w-md-200px">
                                <select class="form-select" name="product_option" data-placeholder="Select a variation" data-kt-ecommerce-catalog-add-product="product_option">
                                  <option></option>
                                  <option value="color">Color</option>
                                  <option value="size">Size</option>
                                  <option value="material">Material</option>
                                  <option value="style">Style</option>
                                </select>
                              </div>
                              <!--end::Select2-->
                              <!--begin::Input-->
                              <input type="text" class="form-control mw-100 w-200px" name="product_option_value" placeholder="Variation" />
                              <!--end::Input-->
                              <button type="button" data-repeater-delete="" class="btn btn-sm btn-icon btn-light-danger">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr088.svg-->
                                <span class="svg-icon svg-icon-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="black" />
                                    <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="black" />
                                  </svg>
                                </span>
                                <!--end::Svg Icon-->
                              </button>
                            </div>
                          </div>
                        </div>
                        <!--end::Form group-->
                        <!--begin::Form group-->
                        <div class="form-group mt-5">
                          <button type="button" data-repeater-create="" class="btn btn-sm btn-light-primary">
                          <!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
                          <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="black" />
                              <rect x="6" y="11" width="12" height="2" rx="1" fill="black" />
                            </svg>
                          </span>
                          <!--end::Svg Icon-->Add another variation</button>
                        </div>
                        <!--end::Form group-->
                      </div>
                      <!--end::Repeater-->
                    </div>
                    <!--end::Input group-->
                  </div>
                  <!--end::Card header-->
                </div>
                <!--end::Variations-->
                <!--begin::Shipping-->
                <div class="card card-flush py-4">
                  <!--begin::Card header-->
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Enviar</h2>
                    </div>
                  </div>
                  <!--end::Card header-->
                  <!--begin::Card body-->
                  <div class="card-body pt-0">
                    <!--begin::Input group-->
                    <div class="fv-row">
                      <!--begin::Input-->
                      <div class="form-check form-check-custom form-check-solid mb-2">
                        <input class="form-check-input" type="checkbox" id="kt_ecommerce_add_product_shipping_checkbox" value="1" />
                        <label class="form-check-label">Agregar alertas via Email</label>
                      </div>
                      <!--end::Input-->
                      <!--begin::Description-->
                      <div class="text-muted fs-7">Set if the alert is a physical or digital item. Physical alerts may require shipping.</div>
                      <!--end::Description-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Shipping form-->
                    <div id="kt_ecommerce_add_product_shipping" class="d-none mt-10">
                      <!--begin::Input group-->
                      <div class="mb-10 fv-row">
                        <!--begin::Label-->
                        <label class="form-label">Weight</label>
                        <!--end::Label-->
                        <!--begin::Editor-->
                        <input type="text" name="weight" class="form-control mb-2" placeholder="Product weight" value="" />
                        <!--end::Editor-->
                        <!--begin::Description-->
                        <div class="text-muted fs-7">Set a product weight in kilograms (kg).</div>
                        <!--end::Description-->
                      </div>
                      <!--end::Input group-->
                      <!--begin::Input group-->
                      <div class="fv-row">
                        <!--begin::Label-->
                        <label class="form-label">Dimension</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <div class="d-flex flex-wrap flex-sm-nowrap gap-3">
                          <input type="number" name="width" class="form-control mb-2" placeholder="Width (w)" value="" />
                          <input type="number" name="height" class="form-control mb-2" placeholder="Height (h)" value="" />
                          <input type="number" name="length" class="form-control mb-2" placeholder="Lengtn (l)" value="" />
                        </div>
                        <!--end::Input-->
                        <!--begin::Description-->
                        <div class="text-muted fs-7">Enter the product dimensions in centimeters (cm).</div>
                        <!--end::Description-->
                      </div>
                      <!--end::Input group-->
                    </div>
                    <!--end::Shipping form-->
                  </div>
                  <!--end::Card header-->
                </div>
                <!--end::Shipping-->

              </div>
            </div>
            <!--end::Tab pane-->
          </div>
          <!--end::Tab content-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a href="../../demo7/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
            <!--end::Button-->
            <!--begin::Button-->
            <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
              <span class="indicator-label">Save Changes</span>
              <span class="indicator-progress">Please wait...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <!--end::Button-->
          </div>
        </div>
        <!--end::Main column-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Content-->
  <!--begin::Footer-->
  <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-xxl d-flex flex-column flex-md-row flex-stack">
      <!--begin::Copyright-->
      <div class="text-dark order-2 order-md-1">
        <!-- <span class="text-gray-400 fw-bold me-1">Created by</span> -->
        <!-- <a href="https://keenthemes.com" target="_blank" class="text-muted text-hover-primary fw-bold me-2 fs-6">Keenthemes</a> -->
      </div>
      <!--end::Copyright-->
      <!--begin::Menu-->
      <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
        <!-- <li class="menu-item">
          <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
        </li>
        <li class="menu-item">
          <a href="https://keenthemes.com/support" target="_blank" class="menu-link px-2">Support</a>
        </li>
        <li class="menu-item">
          <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
        </li> -->
      </ul>
      <!--end::Menu-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Footer-->
</div>
