

<div class="p-4">
  <h2 class="text-danger title">EVENTOS</h2>
  <div class="col-sm-6">
    <button class="btn btn-success" (click)="AddEmployee()">
      <i class='fas fa-plus-circle'></i><span> ADD</span>
    </button>
  </div>
  <table
    class="full-width-table"
    *ngIf="alerts.length"
    datatable
    [dtOptions]="dtOptions"
  >
    <thead>
      <tr class="center-align">
        <th>Id</th>
        <th>Descripcion</th>
        <th>Evento</th>
        <th>Placa</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of alerts;  let i = index;" [attr.data-index]="i" >
        <td>{{ alert.id }}</td>
        <td>{{ alert.descripcion }}</td>
        <td>{{ alert.evento }}</td>
        <td>{{ alert.placa }}</td>
        <td>{{ alert.estado }}</td>

        <td>
          <a  (click)="editar(i)" href="#" [routerLink]="['/update/', alert.id]" class="btn"><i class='fa fa-edit edit'></i></a>

          <button type="button"  class="btn"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-danger" (click)="onLogout()">
    SALIR
  </button>
</div>
