<div class="mat-elevation-z8 p-4">


      <h2 class="text-danger title" >EVENTO</h2>
          <table class="full-width-table" *ngIf="alerts.length" datatable [dtOptions]="dtOptions" >
              <thead >
              <tr>
                  <th>Id</th>
                  <th>Descripcion</th>
                  <th>Estado</th>
                  <th>Evento</th>
                  <th>Placa</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let alert of alerts">
                  <td>{{alert.id}}</td>
                  <td>{{alert.descripcion}}</td>
                  <td>{{alert.estado}}</td>
                  <td>{{alert.evento}}</td>
                  <td>{{alert.placa}}</td>

              </tr>
              </tbody>
          </table>
          <button  type="button" class="btn btn-danger" (click)="onLogout()">SALIR</button>
</div>
