table {
    width: 100%;
    background-color: white;
}

.body-table {
    margin: 40px
}

.mat-elevation-z8 {
    margin: 0 auto; // Puedes ajustar el valor según tus necesidades
}

/* En tu hoja de estilos CSS */
.yellow-icon {
    color: orange;
}

.green-icon {
    color: green;
}

.blue-icon {
    color: blue;
}