
<body>
	<div class="container">
		<div class="img">
			<img src="assets/bg.svg">
		</div>
		<div class="login-content">
			<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
				<img src="assets/monitorS4-vertical.png">
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
                      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" formControlName="usuario">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
                  <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña" formControlName="password">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Log In">
            </form>

        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

