
<body>
	<div class="container">
		<div class="login-content">
			<form >
				<img src="assets/monitorS4-vertical.png">
           		<div class="input-div one">
           		   <div class="i">
           		   </div>
           		   <div class="div">
                      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" formControlName="usuario">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		   </div>
           		   <div class="div">
                  <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña" formControlName="password">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Log In">
            </form>

        </div>
    </div>
</body>

