<div class="mat-elevation-z8">
  <h2 class="text-danger titleh1" >EVENTO</h2>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
     <!-- Id Column -->
     <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Placa Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PLACA</th>
      <td mat-cell *matCellDef="let row">{{row.placa}}</td>
    </ng-container>

     <!-- Cargado Column -->
     <ng-container matColumnDef="cargado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CARGADO</th>
      <td mat-cell *matCellDef="let row">{{row.cargado}}</td>
    </ng-container>

    <!-- Local Column -->
    <ng-container matColumnDef="local">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCAL</th>
      <td mat-cell *matCellDef="let row">{{row.local}}</td>
    </ng-container>

     <!-- Hora Carga Column -->
     <ng-container matColumnDef="horacarga">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HORA DE CARGA</th>
      <td mat-cell *matCellDef="let row">{{row.horacarga}}</td>
    </ng-container>

    <!-- Hor Limite Column -->
    <ng-container matColumnDef="horalimite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HORA LIMITE</th>
      <td mat-cell *matCellDef="let row">{{row.horalimite}}</td>
    </ng-container>

    <!-- Tipo Carga Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO</th>
      <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
      <td mat-cell *matCellDef="let row">{{row.estado}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
