<!--begin::Body-->

<body
  style="background-image: url()"
  class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled"
>
  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
      <!--begin::Wrapper-->
      <div class="d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <!--begin::Header-->
        <div
          id="kt_header"
          class="header"
          data-kt-sticky="false"
          data-kt-sticky-name=""
          data-kt-sticky-offset="{default: '200px', lg: '300px'}"
        >
          <!--begin::Container-->
          <div
            class="container-xxl d-flex align-items-center justify-content-between"
            id="kt_header_container"
          >
            <!--begin::Page title-->
            <div
              class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-2 pb-lg-0"
              data-kt-swapper="true"
              data-kt-swapper-mode="prepend"
              data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}"
            >
              <!--begin::Heading-->
              <!--end::Heading-->
              <!--begin::Breadcrumb-->
              <ul class="breadcrumb fw-bold fs-base my-1">
               
                <li class="breadcrumb-item text-muted">Perfil</li>
                <li class="breadcrumb-item text-dark">Plan</li>
              </ul>
              <!--end::Breadcrumb-->
            </div>

            <div class="d-flex flex-shrink-0"></div>
            <!--end::Toolbar wrapper-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Header-->

        <!-- BODY  -->

        <div class="card" id="kt_pricing">
          <!--begin::Card body-->
          <div class="card-body p-lg-17">
            <!--begin::Plans-->
            <div class="d-flex flex-column">
              <!--begin::Heading-->
              <div class="mb-13 text-center">
                <h1 class="fs-2hx fw-bolder mb-5">Elige tu Plan</h1>
                <div class="text-gray-400 fw-bold fs-5">
                  Para adquirir cualquiera de los planes , por favor has click
                  aquí :
                  <a
                    routerLink="#"
                    class="link-primary fw-bolder"
                    (click)="redirectTransferProfile('historial')"
                    style="cursor: pointer; text-decoration: none"
                    >Adquirir Planes</a
                  >
                </div>
              </div>
              <!--end::Heading-->
              <!--begin::Nav group-->

              <!--begin::Row-->
              <div class="row g-10">
                <!--begin::Col-->
                <div class="col-xl-4">
                  <div class="d-flex h-100 align-items-center">
                    <!--begin::Option-->
                    <div
                      class="w-100 d-flex flex-column flex-center rounded-3 bg-light bg-opacity-75 py-15 px-10"
                    >
                      <!--begin::Heading-->
                      <div class="mb-7 text-center">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-5 fw-boldest">Asociado</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-gray-400 fw-bold mb-5">
                          Conoce la plataforma a Plenitud
                        </div>
                        <!--end::Description-->
                        <!--begin::Price-->
                        <div class="text-center">
                          <span class="mb-2 text-primary">$</span>
                          <span
                            class="fs-3x fw-bolder text-primary"
                            data-kt-plan-price-month="9"
                            >9</span
                          >
                          <span class="fs-7 fw-bold opacity-50"
                            >/ <span data-kt-element="period">Mes</span></span
                          >
                        </div>
                        <!--end::Price-->
                      </div>
                      <!--end::Heading-->
                      <!--begin::Features-->
                      <div class="w-100 mb-10">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Acceso Gratuito a Cursos Vip</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Asesoría Personalizada</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Eventos Exclusivos en Vivo</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span class="fw-bold fs-6 text-gray-400 flex-grow-1"
                            >Sesiones de Mentoring</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen040.svg-->
                          <span class="svg-icon svg-icon-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <rect
                                x="7"
                                y="15.3137"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(-45 7 15.3137)"
                                fill="black"
                              ></rect>
                              <rect
                                x="8.41422"
                                y="7"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(45 8.41422 7)"
                                fill="black"
                              ></rect>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span class="fw-bold fs-6 text-gray-400 flex-grow-1"
                            >Acceso Gratuito a BootCamps Vip</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen040.svg-->
                          <span class="svg-icon svg-icon-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <rect
                                x="7"
                                y="15.3137"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(-45 7 15.3137)"
                                fill="black"
                              ></rect>
                              <rect
                                x="8.41422"
                                y="7"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(45 8.41422 7)"
                                fill="black"
                              ></rect>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span class="fw-bold fs-6 text-gray-400 flex-grow-1"
                            >Eventos Presenciales</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen040.svg-->
                          <span class="svg-icon svg-icon-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <rect
                                x="7"
                                y="15.3137"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(-45 7 15.3137)"
                                fill="black"
                              ></rect>
                              <rect
                                x="8.41422"
                                y="7"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(45 8.41422 7)"
                                fill="black"
                              ></rect>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center">
                          <span class="fw-bold fs-6 text-gray-400 flex-grow-1"
                            >+50 Ctokens por Mes</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen040.svg-->
                          <span class="svg-icon svg-icon-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <rect
                                x="7"
                                y="15.3137"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(-45 7 15.3137)"
                                fill="black"
                              ></rect>
                              <rect
                                x="8.41422"
                                y="7"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(45 8.41422 7)"
                                fill="black"
                              ></rect>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                      </div>
                      <!--end::Features-->
                      <!--begin::Seleccionar-->
                      <a
                        routerLink="#"
                        (click)="redirectTransferProfile('historial')"
                        class="btn btn-sm btn-primary"
                        >Seleccionar</a
                      >
                      <!--end::Seleccionar-->
                    </div>
                    <!--end::Option-->
                  </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-4">
                  <div class="d-flex h-100 align-items-center">
                    <!--begin::Option-->
                    <div
                      class="w-100 d-flex flex-column flex-center rounded-3 bg-light bg-opacity-75 py-20 px-10"
                    >
                      <!--begin::Heading-->
                      <div class="mb-7 text-center">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-5 fw-boldest">Socio</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-gray-400 fw-bold mb-5">
                          Acceso total a CheethAkademy
                        </div>
                        <!--end::Description-->
                        <!--begin::Price-->
                        <div class="text-center">
                          <span class="mb-2 text-primary">$</span>
                          <span
                            class="fs-3x fw-bolder text-primary"
                            data-kt-plan-price-month="25"
                            >25</span
                          >
                          <span class="fs-7 fw-bold opacity-50"
                            >/ <span data-kt-element="period">Mes</span></span
                          >
                        </div>
                        <!--end::Price-->
                      </div>
                      <!--end::Heading-->
                      <!--begin::Features-->
                      <div class="w-100 mb-10">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Acceso Gratuito a Cursos Vip</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Asesoría Personalizada</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Eventos Exclusivos en Vivo</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Sesiones de Mentoring</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Acceso Gratuito a BootCamps Vip</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Eventos Presenciales</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >+50 Ctokens por Mes</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                      </div>
                      <!--end::Features-->
                      <!--begin::Seleccionar-->
                      <a
                        routerLink="#"
                        (click)="redirectTransferProfile('historial')"
                        class="btn btn-sm btn-primary"
                        >Seleccionar</a
                      >
                      <!--end::Seleccionar-->
                    </div>
                    <!--end::Option-->
                  </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-4">
                  <div class="d-flex h-100 align-items-center">
                    <!--begin::Option-->
                    <div
                      class="w-100 d-flex flex-column flex-center rounded-3 bg-light bg-opacity-75 py-15 px-10"
                    >
                      <!--begin::Heading-->
                      <div class="mb-7 text-center">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-5 fw-boldest">Profesional</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-gray-400 fw-bold mb-5">
                          Desarrollate como experto
                        </div>
                        <!--end::Description-->
                        <!--begin::Price-->
                        <div class="text-center">
                          <span class="mb-2 text-primary">$</span>
                          <span
                            class="fs-3x fw-bolder text-primary"
                            data-kt-plan-price-month="19"
                            >19</span
                          >
                          <span class="fs-7 fw-bold opacity-50"
                            >/ <span data-kt-element="period">Mes</span></span
                          >
                        </div>
                        <!--end::Price-->
                      </div>
                      <!--end::Heading-->
                      <!--begin::Features-->
                      <div class="w-100 mb-10">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Acceso Gratuito a Cursos Vip</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Asesoría Personalizada</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Eventos Exclusivos en Vivo</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Sesiones de Mentoring</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Acceso Gratuito a BootCamps Vip</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen043.svg-->
                          <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <path
                                d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z"
                                fill="black"
                              ></path>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-5">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >Eventos Presenciales</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen040.svg-->
                          <span class="svg-icon svg-icon-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <rect
                                x="7"
                                y="15.3137"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(-45 7 15.3137)"
                                fill="black"
                              ></rect>
                              <rect
                                x="8.41422"
                                y="7"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(45 8.41422 7)"
                                fill="black"
                              ></rect>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center">
                          <span
                            class="fw-bold fs-6 text-gray-800 flex-grow-1 pe-3"
                            >+50 Ctokens por Mes</span
                          >
                          <!--begin::Svg Icon | path: icons/duotune/general/gen040.svg-->
                          <span class="svg-icon svg-icon-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <rect
                                opacity="0.3"
                                x="2"
                                y="2"
                                width="20"
                                height="20"
                                rx="10"
                                fill="black"
                              ></rect>
                              <rect
                                x="7"
                                y="15.3137"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(-45 7 15.3137)"
                                fill="black"
                              ></rect>
                              <rect
                                x="8.41422"
                                y="7"
                                width="12"
                                height="2"
                                rx="1"
                                transform="rotate(45 8.41422 7)"
                                fill="black"
                              ></rect>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </div>
                        <!--end::Item-->
                      </div>
                      <!--end::Features-->
                      <!--begin::Seleccionar-->
                      <a
                        routerLink="#"
                        (click)="redirectTransferProfile('historial')"
                        class="btn btn-sm btn-primary"
                        >Seleccionar</a
                      >
                      <!--end::Seleccionar-->
                    </div>
                    <!--end::Option-->
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Plans-->
          </div>
          <!--end::Card body-->
        </div>
        <!-- BODY  -->

        <!--begin::Footer-->
        <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
          <!--begin::Container-->
          <div class="container-xxl d-flex flex-column flex-md-row flex-stack">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
              <span class="text-gray-400 fw-bold me-1">Created by</span>
              <a
                target="_blank"
                class="text-muted text-hover-primary fw-bold me-2 fs-6"
                >CheethAkademy</a
              >
            </div>
            <!--end::Copyright-->
            <!--begin::Menu-->
            <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
              <li class="menu-item">
                <a
                  href="https://keenthemes.com/support"
                  target="_blank"
                  class="menu-link px-2"
                  >Soporte</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://1.envato.market/EA4JP"
                  target="_blank"
                  class="menu-link px-2"
                  >Compra</a
                >
              </li>
            </ul>
            <!--end::Menu-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Footer-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>
</body>
<!--end::Body-->
