/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";


// MDB SCSS
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#kt_modal_select_progreso {
  z-index: -1;

  /* Ajusta el valor según sea necesario */
}


html,
body {
  height: 100%;
}