:root {
	--main-bg-color: #0e79ca;
	/* Color principal */
	--body-bg-color: #f0f0f0;
	/* Nuevo color para el body */
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	background-color: var(--body-bg-color);
	/* Aplicar nuevo color al body */
}

.container {
	margin-top: 10rem;
	margin-bottom: 10rem;
	width: 50rem;
	padding: 2rem;
	border-radius: 2.5rem;
	background: var(--main-bg-color);
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	display: flex;
	width: 100%;
	margin-bottom: 3rem;
}

.logo__circle {
	margin: auto;
	padding: 1rem;
	width: 7.25rem;
	height: 7.25rem;
	display: flex;
	border-radius: 9999px;
	background-color: #E9D985;
	box-shadow: 0px 0px 2px #5F5F5F,
		0px 0px 0px 5px #ECF0F3,
		8px 8px 15px #A7AAAF,
		-8px -8px 15px #FFFFFF;
}

.logo__svg {
	margin: auto;
	width: calc(8.25rem / 3);
	height: calc(8.25rem / 3);
	opacity: 0.4;
}

.form__group {
	width: 18rem;
	margin-bottom: 2rem;
	position: relative;
}

.logo__img {
	margin: auto 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.form__icon {
	position: absolute;
	left: 0;
	height: 100%;
	display: flex;
	width: 3rem;
}

.form__icon svg {
	margin: auto;
	width: 0.75rem;
	height: 0.75rem;
	opacity: 0.35;
}

.form__control {
	appearance: none;
	border: none;
	background-color: transparent;
	font-size: 0.875rem;
	padding: 1rem;
	padding-left: 2.5rem;
	width: 100%;
	border-radius: 1.5rem;
	box-shadow: inset 2px 2px 2px #c5c5c5,
		inset -8px -8px 8px #FFFFFF;
}

.form__control:focus {
	outline: none;
	box-shadow: inset 3px 3px 3px #CBCED1,
		inset -8px -8px 8px #FFFFFF;
}

.form__control:focus::placeholder {
	color: #d3d3d3;
}

.form__control::placeholder {
	color: #CCCCCC;
}

.form__button {
	text-transform: uppercase;
	letter-spacing: 0.15em;
	border: none;
	font-size: 0.875rem;
	color: #FFFFFF;
	background-color: #1B1B1E;
	width: 100%;
	display: block;
	padding: 0.875rem 1rem;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 4px #B1B1B1,
		-3px -3px 8px #FFFFFF;
}

.form__button:focus {
	outline: none;
	box-shadow: 3px 3px 20px #B1B1B1,
		-3px -3px 20px #FFFFFF;
}

.form__button:hover {
	opacity: 0.85;
}

.alert {
	max-width: 240px;
	/* Ancho máximo deseado en píxeles */
	margin-top: 1rem;
	/* Espacio superior para separarlo del formulario */
	word-wrap: break-word;
	/* Trunca las palabras largas */
}